

@font-face {
    font-family: "VarelaRound";
    src: url("./../fonts/VarelaRound-Regular.ttf");
}

* {
    font-family: "VarelaRound",sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html{
    background-color: #ecf0f1;
}


/***********************************************************
** Top Bar
************************************************************/
#topBar{
    position: absolute;
    right: 0px;
    height: 40px;
    padding: 15px;
}
#topBar div{
    float: left;
    padding: 0px 10px;
    font-weight: bold;
    font-size: 25px;
    margin: 0px 2px;
    color: black;
}
#topBar div:hover{
    border-bottom: 2px solid #3498db;
    cursor: pointer;
}

#topBar div.selected{
    border-bottom: 2px solid #2ecc71;
    cursor: pointer;
}

/***********************************************************
** Socials
************************************************************/
.social-link{
    width: 50px;
    height: 50px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    float: left;
    margin: 0px 5px;
}
.social-link.github{
    background-image: url("/images/GitHub-Mark-64px.png");
}
.social-link.linkedin{
    background-image: url("/images/64px-LinkedIn_logo_initials.png");
}

/***********************************************************
** Tech
************************************************************/
.techContainer{
    height: 100px;
    padding: 5px 5px;
    float: left;
    opacity: 0.8;
}
.techContainer:hover{
    opacity: 1.0;
    cursor: pointer;
}
.techLogo{
    min-width: 64px;
    height: 64px;
    margin: 0px auto;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}
.techText{
    margin-top: 5px;
    font-weight: bold;
    text-align: center;
}

/***********************************************************
** Main Content
************************************************************/

#mainContent{
    position: absolute;
    top: 70px;
    width: 100%;
}


/***********************************************************
** Home
************************************************************/

#home-basic, #home-aboutMe, #techStack{
    width: 80%;
    margin: 20px auto;
    max-width: 800px;
}
#home-info{
    margin-left: 300px;
    padding-top: 70px;
    width: calc(100% - 300px);
}

#home-picture{
    width: 250px;
    height: 250px;
    border-radius: 125px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #2ecc71;
    margin-right: 50px;
    float: left;
}

#home-info-about{
    text-align: center;
    font-size: 20px;
}

#home-info-name{
    font-size: 40px;
    text-align: center;
}

#home-info-socials, #techStack-tiles{
    width: 100%;
    margin: 10px 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
}

#home-aboutMe-title, #techStack-title{
    font-size: 35px;
    font-style: italic;
}

#home-aboutMe-text{
    font-size: 20px;
    margin-top: 10px;
}

#resumeButton{
    margin: 5px auto;
    width: 250px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    background-color: #3498db;
    border-radius: 5px;
    color: white;
    box-shadow: 0px 3px 3px -2px rgb(0 0 0 / 20%), 0px 3px 4px 0px rgb(0 0 0 / 14%), 0px 1px 8px 0px rgb(0 0 0 / 12%);
}

#resumeButton:hover{
    cursor: pointer;
    background-color: #2980b9;
}